.hero {
  background: #000;
  min-height: 670px;
  padding-top: 60px;
}

.hero__block {
  max-width: 24em;
}

.hero__title {
  color: #fff;
}

.hero__text {
  color: #fff;
}

.hero__link {
  color: #fff;
}

.hero__button {
  display: inline-block;
  background: #8f13fd;
  color: #fff;
  padding: .5em 3em;
  text-transform: uppercase;
}
