.pricing__title {
  font-size: 1.6em;
  font-weight: 300;
  margin-top: 2em;
  text-align: center;
}

.pricing__wrapper {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}

.pricing__range {
  align-items: center;
  background: $white;
  border: 1px solid #cecece;
  border-radius: 3px;
  box-shadow: 0 2px 1px 0 #aaa;
  display: flex;
  flex-direction: column;
  margin: 0 1em;
  min-height: 425px;
  padding-bottom: 1em;
  width: 350px;

  @media screen and (max-width: 767px) {
    width: 80%;
    margin: 15px 0;
  }
}

.pricing__range--middle {
  min-height: 425px;
  width: 375px;

  @media screen and (max-width: 767px) {
    width: 80%;
  }
}

.pricing__therapy {
  margin-top: 1em;
}

.pricing__type {
  font-size: 1em;
  margin-top: 0.3em;
}

.pricing__price {
  font-size: 2em;
  margin-top: 1.2em;
}

.pricing__list {
  margin-top: 1em;
}

.pricing__list-item {
  align-items: center;
  display: flex;
  margin-top: 1em;
  position: relative;
}

.pricing__subscribe {
  background: $violet;
  border-radius: 2px;
  box-shadow: 0 0 3px 1px #ccc;
  color: $white;
  margin-top: auto;
  padding: 0.5em 1em;
  text-transform: uppercase;
}
